.contact_form {
  text-align: center;
}
.contact_form_title h2 {
  font-weight: 400;
  text-transform: capitalize;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 10px;
}

.contact_title_desc a {
  color: #b7472a;
  text-decoration: none;
}

.contect_submit_btn {
  border: #b7472a;
  color: #ffffff;
  font-weight: 900;
  font-size: 14px;
  padding: 14px 30px 14px 30px;
  align-items: center;
  background: linear-gradient(to right, #c4573b 50%, #b7472a 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.contect_submit_btn:hover {
  background-position: left bottom;
}

.address p {
  font-size: 22px;
  letter-spacing: 1.9px;
  line-height: 40px;
  padding: 3px 13%;
}

.address span {
  color: #b7472a;
  padding-right: 20px;
}

.find_us {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
}
