/* ********Common Css Start******** */
/* color: #c3002f; */
/* color: #b7472a; */
* {
  box-sizing: border-box;
  outline: none;
}

@font-face {
  font-family: "Poppins-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/font/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/font/Poppins-Regular.ttf");
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* letter-spacing: 0.4px; */
  font-family: "Poppins-Regular";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  letter-spacing: 0.5px;
  font-family: "Poppins-Regular";
}
p {
  font-family: "Poppins-Regular";
  font-size: 14px;
  letter-spacing: 0.5px;
}

a{
  text-decoration: none !important;
}
.form-control:focus{
  border-color: none !important;
  box-shadow: none !important; 
}
.form-control{
  border-radius: 0px !important;
}
.div-bg {
  background-color: #f5f5f5;
}
.mrt58 {
  margin-top: 58px; 
}
.mrb58 {
  margin-bottom: 58px;
}
.mrtb50{
  margin: 50px 0px;
}
.p-tb-58 {
  padding-top: 58px;
  padding-bottom: 58px;
}

.ptb-30{
  padding: 30px 0;
}
.mrt30 {
  margin-top: 30px;
}
.mrb30 {
  margin-bottom: 30px;
}

.pb30 {
  padding-bottom: 30px;
}


.pdtop50 {
  padding-top: 50px;
}
.pdbottom50 {
  padding-bottom: 50px;
}

.main_heading>h2,h3,h6{
  line-height: 1.5;
  text-transform: capitalize;
  margin: 0;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
}
.main_heading p{
  text-align: center;
  
}
.img-fluid {
  width: 100%;
  height: auto;
}
.social-icons a {
  color: #ffffff;
  font-size: 13px;
  padding: 16px 10px;
}
.social-icons a:hover {
  color: #b7472a;
}

.link_btn {
  text-decoration: none;
  border: 1px solid #b7472a;
  color: #ffffff;
  font-weight: 900;
  font-size: 14px;
  padding: 14px 35px 14px 35px;
  align-items: center;
  background: linear-gradient(to right, #c4573b 50%, #b7472a 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.link_btn:hover {
  background-position: left bottom;
  color: #ffffff;
}
.link_trans_btn {
  text-decoration: none;
  border: 1px solid #b7472a;
  color: #ffffff;
  font-weight: 900;
  font-size: 14px;
  padding: 14px 35px 14px 35px;
  align-items: center;
  background: linear-gradient(to right, #c4573b 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}
.link_trans_btn:hover{
  background-position: left bottom;
  color: #ffffff;
}
     

.card {
  margin: 30px 10px;
  padding: 20px 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}


.card-title {
  min-height: 48px;
}

.card-body p {
  margin-bottom: 0 !important;
}

.card-body {
  padding-bottom: 0 !important;
}
.card_size {
  text-align: left;
  height: 60vh;
}

.card_img {
  width: 100%;
  max-height: 280px;
}
.card_category {
  min-height: 37px;
}
.card_category a {
  text-decoration: none;
  padding-right: 1px;
  color: #888787;
  font-size: 12px;
  font-family: Poppins, sans-serif;
}
.card_category a:hover {
  color: #b7472a;
}
.pagination-box{
  margin-top: 58px;
}
.pagination-box ul {
  justify-content: center;
}
.pagination-box ul li a{
  color: #000;
}
.pagination-box .active .page-link {
  background: #b7472a;
  border-color: #b7472a;
  color: #fff;
}
.pagination-box .visually-hidden {
  display: none;
}

/* **********Top Banner Css Start*********** */
.banner_bg_img {
  background: url(../../assets/images/contact-bg.jpg);
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
}
.breadcrumb {
  z-index: 99;
  text-align: center;
  display: inline-block;
  justify-content: center;
  padding: 9px 25px;
}
.breadcrumb span {
  font-weight: 400;
  text-transform: capitalize;
  font-size: 15px;
  line-height: 20px;
  position: relative;
}

.breadcrumb span:first-child a {
  color: #fff;
  text-decoration: none;
}
.breadcrumb span:first-child {
  padding-right: 24px;
}
.breadcrumb span:first-child:after {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  right: 10px;
  top: 6px;
  display: inline-block;
  font-style: normal;
  background-color: #b7472a;
}
/* ********Top Banner Css End******** */
.box_shadow {
  margin: 30px 10px;
  padding: 20px 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}


/* ********Common Css End******** */

/* ********Top_Header Css Start******** */

.top-header-container {
  font-family: "Poppins-light";
  background-color: #000000;
}

.top-header-left {
  display: flex;
  color: #ffffff;
}

.top-header-left a span {
  font-size: 16px;
  margin: 16px 8px 16px 4px;
}

.top-header-left a {
  font-size: 13px;
  color: #ffffff;
  padding: 16px 22px 16px 0px;
  font-weight: 900;
  letter-spacing: 0.5px;
}

.top-header-left a:hover {
  color: #b7472a;
}

.vrtcl_line {
  position: relative;
}

.vrtcl_line::after {
  content: "";
  width: 1px;
  height: 16px;
  background-color: #ffffff;
  position: absolute;
  margin: 0px 10px 0px 12px;
  margin-top: 3px;
}

/* ********Top_Header Css 
End******** */

/* ********Navbar Css Start******** */

.logo {
  width: 150px;
  height: 75px;
}

.nav_anchor a {
  font-size: 16px;
  font-weight: 500;
  color: #252525;
  margin: 0px 12px;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
}

.nav_anchor a:hover {
  color: #000000;
}

.nav_anchor a::after {
  content: "";
  position: absolute;
  background-color: #b7472a;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.nav_anchor a:hover::after {
  color: #b7472a;
  width: 100%;
}

.nav_icons span {
  font-size: 21px;
  color: #252525;
  padding-left: 20px;
}

.nav_icons span:hover {
  color: #b7472a;
}
.nav_icons {
  position: relative;
}

.search_icon{
  /* position: absolute */
  margin-left: -34px;
  margin-top: 6px;
}

.cart_img {
  width: 100%;
  height: auto;
}

.accordion-item {
  color: rgb(0, 0, 0);
  border: 0 !important;
}
.accordion-button:focus {
  box-shadow: none !important;
  background-color: #ffffff !important;
}

.accordion-button {
  padding: 0 !important;
}

.accordion-button:not(.collapsed) {
  color: #000000 !important;
}
/* ********Navbar Css End******** */

/* ***********Banner Css Start******** */

.bg_img {
  background-image: url(../../assets/images/home/home-parallax.jpg);
  /* background-attachment: fixed; */
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.bg_img_content h1 {
  color: #ffffff;
  font-size: 58px;
  font-weight: 600;
  text-transform: uppercase;
}

.bg_img_content p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
}

/* **************Banner Css End***********/

/* ************TextComponent Css Start*********** */

.text_img_icons {
  width: 70px;
}

.text_cmpnt_content {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.text_cmpnt_content p {
  margin: 15px 0;
}

.text_cmpnt_content a {
  font-family: Poppins, sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 600;
  text-transform: uppercase;  
  color: #b7472a;
}

/* ************TextComponent Css End*********** */

/* ************SellerCard Css Start*********** */




/* ************SellerCard Css 
End*********** */

/* ************Carousel Css Start*********** */


.carousel_content_img {
  position: relative;
  background-image: url(https://templatekit.jegtheme.com/textilery/wp-content/uploads/sites/122/2021/07/bg.jpg);
  width: 100%;
  height: 60vh;
}

.carousel-control-prev-icon {
  opacity: 0;
}
.carousel-control-next-icon {
  opacity: 0;
}

.carousel_content {
  position: absolute;
  width: 100%;
  color: #ffffff;
  padding: 10px 50px 10px 50px;
  text-align: start;
}

.carousel_img {
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
}

.carousel_content h1 {
  color: #ffffff;
  font-size: 58px;
  line-height: 60px;
  font-weight: 600;
  letter-spacing: -1px;
  text-transform: Capitalize;
}

.carousel_content p {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 500;
}


/* ************Carousel Css End*********** */

/* ************StorieCard Css Start*********** */


.storie_card_title {
  min-height: 48px;
}
.banner_card {
  width: 25rem;
}

.card_link {
  font-size: 14px;
  font-weight: 600;
  color: #101010;
}
.card_link::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #000;
  transition: width 0.3s;
}

.card_link:hover::after {
  width: 33%;
}

.card_link:hover {
  color: #b7472a;
}

.card_date {
  font-size: 14px;
  padding-bottom: 10px;
  color: #b7472a;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.card_link a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.card_span {
  font-size: 10px;
  padding: 0 6px;
}

/* ************StorieCard Css End*********** */



/* ************Footer Css Start*********** */


.footer_bg {
  display: block;
  background-color: #191919;
  position: relative;
  background-position: center center;
  background-size: cover;
  color: #fff;
  text-align: start;
  padding: 70px 80px 17px 80px;
}


.footer_address > p {
  letter-spacing: 0.5px;
  line-height: 25px;
}

.footer_address span {
  line-height: 20px;
  font-size: 20px;
  color: #b7472a;
  margin-right: 10px;
}
.logo_size {
  width: 60%;
}

.footer_social_icons a {
  padding: 0px 15px 0px 0px;
  font-size: 25px;
}


.footer_date i {
  font-size: 13px;
  color: #b7472a;
  font-weight: 500;
}

.footer_heading {
  font-size: 18px;
  line-height: 28px;
}

.footer_page_link {
  display: flex;
  justify-content: space-evenly;
}

.footer_page_link a {
  padding: 0 !important;
}

.ftr_email input {
  background-color: transparent;
  height: 41px;
}

::placeholder {
  color: #fff;
  font-size: 13px;
  padding-left: 5px;
}

.ftr_email_div {
  position: relative;
}

.ftr_email {
  color: white;
  width: 100%;
  font-size: 13px;
  line-height: 40px;
  height: 40px;
  border: 1px solid #fff;
  background-color: transparent;
}

.ftr_email_arrow_btn {
  font-size: 13px;
  color: #dedede;
  padding: 0px 0px 0px 22px;
  height: 40px;
  line-height: 40px;
  width: 60px;
  vertical-align: top;
  background-color: #b7472a;
  border: 1px solid #fff;
  border-left: 1px solid #fff;
  position: absolute;
  right: 0;
  top: 0;
}

.ftr_email_arrow_btn:hover {
  background-color: #b7472a;
  color: #ffffff;
  border: 1px solid #fff;
}

.ftr_subscribe {
  font-size: 13px;
  padding-bottom: 20px;
  line-height: 25px;
}

.footer_page_link a {
  display: flex;
  text-decoration: none;
  color: #ffffff;
  padding: 0px 0px 16px 0px;
}

.footer_page_link a:hover {
  color: #b7472a;
}

.footer_bottom {
  margin: 0px auto;
  background-color: #191919;
  border-top: 1px solid #5c5959;
}

.footer_bottom_left {
  margin-left: 80px;
  color: #ffffff;
  text-align: start;
  padding-top: 14px;
}
.footer_bottom_left p span {
  padding-right: 5px;
}
.footer_bottom_right {
  margin-right: 80px;
  display: flex;
  justify-content: end;
}

.ftr_debit_cards img {
  width: 50px;
}
.media-heading {
  color: #ffffff;
  text-align: start;
}
/* ************Footer Css End*********** */

/* ************IncDecCounter Css Start*********** */

.cart {
  margin-top: 10px;
  margin-bottom: 10px;
}
.input-group {
  display: block;
  margin-top: 10px;
}

.input-group-prepend {
  display: inline-block;
  flex-direction: column;
}

.inc_dec_btn {
  width: 18px;
  height: 19px;
  /* display: block; */
  background-color: transparent;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #d6d6d6;
  border-style: solid;
  -webkit-transition: color 0.15s ease-out, background-color 0.15s ease-out,
    border-color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out, background-color 0.15s ease-out,
    border-color 0.15s ease-out;
  transition: color 0.15s ease-out, background-color 0.15s ease-out,
    border-color 0.15s ease-out;
}

.input-text {
  height: 38px;
  width: 38px;
  display: inline-block;
  padding: 0;
  background-color: #fff;
  text-align: center;
  color: #101010;
  font-size: 14px;
  line-height: 38px;
  border: 1px solid #d6d6d6;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  letter-spacing: -0.2px;
  border-right: 0;
}

.buy_now {
  /* display: block; */
  margin-top: 10px;
}

.buy_btn {
  outline: 0;
  font-weight: 600;
  padding: 0 0 0 35px;
  font-size: 12px;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-family: Poppins, sans-serif;
  -webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out,
    border-color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, background-color 0.2s ease-out,
    border-color 0.2s ease-out;
  transition: color 0.2s ease-out, background-color 0.2s ease-out,
    border-color 0.2s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #191919;
  color: #fff;
}

.cart_icon {
  padding: 0 16px;
  font-size: 23px;
  vertical-align: middle;
  /* float: right; */
  line-height: inherit;
  -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
/* ************IncDecCounter Css End*********** */

/* ************TimerBag Css Start*********** */
.timer_content {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-left: 65px;
  margin-right: 65px;
}

.timer_bag_bg {
  background-image: url(../../assets/images/home/time-bg.jpg.webp);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.timer_title {
  margin-bottom: 40px;
}
.timer_title h2 {
  color: #252525;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 38px;
  text-transform: capitalize;
  position: relative;
}

.timer_title h2:before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -14px;
  width: 80px;
  height: 3px;
  background: #e7ab3c;
  content: "";
  margin: 0 auto;
}
.timer_title p {
  font-size: 16px;
  font-family: "Muli", sans-serif;
  color: #636363;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 15px 0;
}

.timer_content .product_price {
  font-size: 24px;
  font-weight: 700;
  color: #e7ab3c;
}
.timer_content .product_price span {
  font-size: 16px;
  font-weight: 400;
  color: #636363;
}

.countdown_timer {
  margin-bottom: 50px;
}
.countdown_timer .cd_item {
  display: inline-block;
  background-color: #ffffff;
  margin-right: 35px;
  padding: 10px 14px;
  border-radius: 5px;
  color: #e7ab3c;
  width: 70px;
}
.countdown_timer .cd_item span {
  font-size: 36px;
}
.countdown_timer .cd_item p {
  text-transform: uppercase;
  font-size: 16px;
  color: #6e6e6e;
}

.timer_btn {
  border: 1px solid #e7ab3c;
  background-color: #e7ab3c;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 25px;
}
/* ************TimerBag Css End*********** */
