/* ********Common Css Start******** */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url(../../assets/font/Poppins-Regular.ttf) format("truetype");
}
body{
  font-family: "Poppins";
  src: local("Poppins"),
  url(../../assets/font/Poppins-Regular.ttf) format("truetype");
}

h6 {
  color: #101010;
  font-size: 15px;
  line-height: 1.6em;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  letter-spacing: 0;
  text-align: center;
}

h3 {
  color: #101010;
  font-size: 23px;
  line-height: 1.4em;
  font-weight: 600;
  letter-spacing: -0.5px;
  font-family: Poppins, sans-serif;
  text-align: center;
}

h4 {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: #101010;
  padding: 0px 16px 0px 0px;
  padding: 0 0.8em 0 0;
  position: relative;
  display: -webkit-inline-box;
  width: 100%;
}

h1 {
  font-family: Poppins, sans-serif;
  color: #ffffff;
  line-height: 60px;
  font-weight: 600;
  letter-spacing: -1px;
  text-transform: Capitalize;
}

.nav_brand {
  margin: 0;
}

.inner_div {
  padding-left: 15px;
  padding-right: 15px;
}

p {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  letter-spacing: 0.5px;
}

/* ********Common Css End******** */

/* ********Top_Header Css Start******** */

.top-header-container {
  font-family: "Poppins-light";
  background-color: #000000;
}

.top-header-left {
  display: flex;
}

.top-header-left a span {
  font-size: 14px;
  margin: 12px 8px 12px 4px;
}

.top-header-left a {
  font-size: 12px;
  color: #c0c0c0;
  padding: 10px 22px 10px 0px;

  font-weight: 900;
  letter-spacing: 0.5px;
}

.top-header-left a:hover {
  color: #b7472a;
}

.vrtcl_line {
  position: relative;
}

.vrtcl_line::after {
  content: "";
  width: 1px;
  height: 15px;
  background-color: #ffffff;
  position: absolute;
  margin: 0px 10px 0px 12px;
  margin-top: 3px;
}

.top-header-right-social-icons {
  display: flex;
  justify-content: end;
}
.top-header-right-social-icons a {
  color: #ffffff;
  font-size: 12px;
  padding: 12px 10px;
}
/* ********Top_Header Css 
End******** */

/* ********Navbar Css Start******** */

.logo {
  width: 150px;
  height: 75px;
}

.nav_anchor a {
  font-size: 14px;
  font-weight: 500;
  color: #252525;
  margin: 0px 12px;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
}

.nav_anchor a:hover {
  color: #000000;
}

.nav_anchor a::after {
  content: "";
  position: absolute;
  background-color: #b7472a;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.nav_anchor a:hover::after {
  color: #b7472a;
  width: 100%;
}

.nav_icons span {
  font-size: 21px;
  color: #252525;
  padding-left: 20px;
}

.nav_icons span:hover {
  color: #b7472a;
}

.humburgur_menu {
  font-size: 23px;
  color: #252525;
}

.humburgur_menu:hover {
  color: #b7472a;
}

.cart_img {
  width: 100%;
  height: auto;
}

.accordion-item {
  color: rgb(0, 0, 0);
  border: 0 !important;
}
.accordion-button:focus {
  box-shadow: none !important;
  background-color: #ffffff !important;
}

.accordion-button {
  padding: 0 !important;
}

.accordion-button:not(.collapsed) {
  color: hsl(0, 0%, 0%) !important;
}
/* ********Navbar Css End******** */

/* ***********Banner Css Start******** */

.bg_img {
  background-image: url(../../assets/images/home-parallax.jpg);
  /* background-attachment: fixed; */
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.banner_div {
  justify-content: center;
}

.bg_img_content h1 {
  font-size: 58px;
  font-weight: 600;
  text-transform: uppercase;
}

.bg_img_content p {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
}

.bg_img_conent_btns .btn1 {
  border: 1px solid #b7472a;
  background-color: #b7472a;
  color: #fff;
  font-size: 12px;
  margin: 5px;
  padding: 1px 35px;
  line-height: 47px;
  text-transform: uppercase;
  font-weight: 600;

  background: linear-gradient(to right, #c4573b 50%, #b7472a 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

.bg_img_conent_btns .btn2 {
  color: #ffffff;
  border:1px solid #ffffff;
  font-size: 12px;
  margin: 5px;
  padding: 0 50px;
  line-height: 47px;
  text-transform: uppercase;
  font-weight: 600;

  background: linear-gradient(to right, #b7472a 50%,transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

.bg_img_conent_btns .btn2:hover {
  background-position: left bottom;
  color: #ffffff;
}

.bg_img_conent_btns .btn1:hover {
  background-position: left bottom;
  border: 1px solid #b7472a;

}
/* **************Banner Css End***********/

/* ************Carousel Css Start*********** */

.carousel_top_div {
  padding-top: 57px;
  padding-bottom: 30px;
}
.carousel_div {
  margin-top: 30px;
  padding: 0px 30px;
}

.carousel_content_img {
  position: relative;
  background-image: url(https://templatekit.jegtheme.com/textilery/wp-content/uploads/sites/122/2021/07/bg.jpg);
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.carousel-control-prev-icon {
  opacity: 0;
}
.carousel-control-next-icon {
  opacity: 0;
}

.carousel_content {
  position: absolute;
  width: 100%;
  color: #ffffff;
  padding: 10px 50px 10px 50px;
  text-align: start;
}

.carousel_img {
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
}

.carousel_content h1 {
  font-family: Poppins, sans-serif;
  color: #ffffff;
  font-size: 58px;
  line-height: 60px;
  font-weight: 600;
  letter-spacing: -1px;
  text-transform: Capitalize;
  text-align: start;
}

.carousel_content p {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 500;
}

.carousel_link_div {
  margin-top: 60px;
  text-align: start;
}

.shipping_banner_link_div {
  color: #ffffff;
}

.carousel_link {
  width: 250px;
  font-size: 12px;
  border: 1px solid #ffffff80;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
}

.carousel_link:hover {
  background-color: black;
}

/* ************Carousel Css End*********** */

/* ************StorieCard Css Start*********** */
.storie_cards_top_div {
  background-color: #f4f4f4;
  padding-top: 57px;
  padding-bottom: 30px;
}

.storie_card_title {
  min-height: 48px;
}
.banner_card {
  width: 25rem;
}

.card_link {
  font-size: 13px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  color: #101010;
}
.card_link::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #000;
  transition: width 0.3s;
}

.card_link:hover::after {
  width: 33%;
}

.card_link:hover {
  color: #b7472a;
}

.card_date {
  font-size: 13px;
  margin-top: 5px;
  color: #b7472a;

  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.card_link a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.card_span {
  font-size: 10px;
  padding: 0 6px;
}

/* ************StorieCard Css End*********** */

/* ************ShippingBar Css Start*********** */

.shipping_top_div {
  padding-top: 57px;
  padding-bottom: 58px;
}

.shipping_banner_img {
  background-image: url(../../assets/images/banner.jpg) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.shipping_banner_content {
  padding: 58px 40px;
  vertical-align: middle;
  align-items: center;
}

.shipping_banner_heading {
  color: #ffffff;
  font-size: 34px;
}

.shipping_banner_link_div {
  color: #ffffff;
}

.shipping_banner_link {
  font-size: 12px;
  border: 1px solid #ffffff80;
  width: auto;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
}
.shipping_banner_link_div a {
  padding: 4px 40px;
  margin: 0px 65px 0px 65px;
}

.shipping_banner_link:hover {
  background-color: black;
}
/* ************ShippingBar Css End*********** */

/* ************SellerCard Css Start*********** */

.seller_top_div {
  padding-top: 57px;
}
.seller_cards {
  margin-top: 30px;
}

.card-title {
  min-height: 48px;
}

.card-body p {
  margin-bottom: 0 !important;
}

.card-body {
  padding-bottom: 0 !important;
}
.card_size {
  text-align: left;
  height: 60vh;
}

.card_img {
  width: 100%;
  min-height: 303px;
}
.card_category {
  min-height: 37px;
}
.card_category a {
  text-decoration: none;
  padding-right: 1px;
  color: #888787;
  font-size: 12px;
  font-family: Poppins, sans-serif;
}
.card_category a:hover {
  color: #b7472a;
}
.card-img-top {
  object-fit: cover;
  height: auto;
}

/* ************SellerCard Css 
End*********** */

/* ************TextComponent Css Start*********** */

.text_img_icons {
  width: 70px;
}

.text_cmpnt_top_div {
  padding-top: 58px;
  padding-bottom: 57px;
  background-color: #f5f5f5;
}

.text_cmpnt_content {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.text_cmpnt_content p {
  margin: 15px 0;
}

.text_cmpnt_content a {
  font-family: Poppins, sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  color: #b7472a;
}

/* ************TextComponent Css End*********** */

/* ************Footer Css Start*********** */

.ftr_logo {
  color: #ffffff;
  text-align: start;
}
.footer_bg {
  display: block;
  background-color: #191919;
  position: relative;
  background-position: center center;
  background-size: cover;
  color: #fff;
  text-align: start;
  padding: 70px 80px 30px 80px;
}

.footer_content {
  margin-top: 30px;
}

.footer_address {
  line-height: 30px;
}

.logo_size {
  width: 60%;
}

.footer_social_icons a {
  padding: 0px 15px 0px 0px;
  font-size: 25px;
  color: #ffffff;
}

.footer_social_icons a:hover {
  color: #b7472a;
}

.footer_date {
  font-size: 13px;
  color: #b7472a;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.footer_heading {
  font-size: 18px;
  line-height: 28px;
}

.footer_para_link {
  margin: 0px 0px 6px 0px;
  font-size: 15px;
}

.footer_content ul {
  display: flex;
  padding: 0;
}
.footer_content ul li {
  list-style: none;
  margin: 0px 8px 0px 0px;
}
.footer_content ul li a img {
  width: 60px;
}

.ftr_email input {
  background-color: transparent;
  height: 41px;
}

::placeholder {
  color: #fff;
  font-size: 13px;
  padding-left: 15px;
}

.ftr_email_div {
  position: relative;
}

.ftr_email {
  color: white;
  padding-left: 20px;
  width: 100%;
  font-size: 13px;
  line-height: 40px;
  height: 40px;
  border: 1px solid #fff;
  background-color: transparent;
}

.ftr_email_arrow_btn {
  font-size: 13px;
  color: #dedede;
  padding: 0px 0px 0px 10px;
  height: 40px;
  line-height: 40px;
  width: 40px;
  vertical-align: top;
  background-color: transparent;
  border-left: 1px solid #fff;
  position: absolute;
  right: 0;
  top: 0;
}

.ftr_email_arrow_btn:hover {
  background-color: #b7472a;
  color: #ffffff;
  border: 1px solid #fff;
}

.ftr_subscribe {
  font-size: 13px;
  padding-bottom: 20px;
}

.footer_page_link a {
  display: flex;
  text-decoration: none;
  color: #ffffff;
  padding: 0px 0px 16px 0px;
}

.footer_page_link a:hover {
  color: #b7472a;
}

.footer_bottom {
  margin: 0px auto;
  background-color: #191919;
  border-top: 1px solid #c0c0c0;
}

.footer_bottom_left {
  margin-left: 80px;
  color: #ffffff;
  text-align: start;
  padding-top: 14px;
}

.footer_bottom_right {
  margin-right: 80px;
  display: flex;
  justify-content: end;
}

.ftr_debit_cards img {
  width: 50px;
}

/* ************Footer Css End*********** */

/* ************IncDecCounter Css Start*********** */

.cart {
  margin-top: 10px;
  margin-bottom: 10px;
}
.input-group {
  display: block;
  margin-top: 10px;
}

.input-group-prepend {
  display: inline-block;
  flex-direction: column;
}

.inc_dec_btn {
  width: 18px;
  height: 19px;
  /* display: block; */
  background-color: transparent;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #d6d6d6;
  border-style: solid;
  -webkit-transition: color 0.15s ease-out, background-color 0.15s ease-out,
    border-color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out, background-color 0.15s ease-out,
    border-color 0.15s ease-out;
  transition: color 0.15s ease-out, background-color 0.15s ease-out,
    border-color 0.15s ease-out;
}

.input-text {
  height: 38px;
  width: 38px;
  display: inline-block;
  padding: 0;
  background-color: #fff;
  text-align: center;
  color: #101010;
  font-size: 14px;
  line-height: 38px;
  border: 1px solid #d6d6d6;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  letter-spacing: -0.2px;
  border-right: 0;
}

.buy_now {
  /* display: block; */
  margin-top: 10px;
}

.buy_btn {
  outline: 0;
  font-weight: 600;
  padding: 0 0 0 35px;
  font-size: 12px;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-family: Poppins, sans-serif;
  -webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out,
    border-color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, background-color 0.2s ease-out,
    border-color 0.2s ease-out;
  transition: color 0.2s ease-out, background-color 0.2s ease-out,
    border-color 0.2s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #191919;
  color: #fff;
}

.cart_icon {
  padding: 0 16px;
  font-size: 23px;
  vertical-align: middle;
  /* float: right; */
  line-height: inherit;
  -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
/* ************IncDecCounter Css End*********** */
