
/* ====================Collection CSS start=============== */


.hover_pics {
  position: relative;
  overflow: hidden;
  display: flex;
}

.hover_pics_title {
  color: #ffffff;
  bottom: 0;
  margin-bottom: 15px;
  position: absolute;
  width: 100%;
}


/* ====================Collection CSS End=============== */

/* ====================new Arival  CSS Start=============== */
.grow_pic {
  transition: opacity 1s ease-in;
  object-fit: cover;
  width: 100%;
  height: 400px;
}
.grow_pic:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease-in;
  cursor: pointer;
}

.new_arival {
  position: relative;
  overflow: hidden;
}

.product_tag {
  font-size: 12.75px;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1;
  padding: 6px 5px 6px 7px;
  background-color: #111;
  color: #fff;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.new_arival:hover .product_tag {
  opacity: 1;
}

.product_img {
  position: absolute;
  width: 100%;
}


.quick_product_btn {
  font-size: 12.75px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  left: 5px;
  z-index: 3;
  background-color: #111;
  color: #fff;
  overflow: hidden;
  padding: 8px 5px;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  transform: translateY(5px);
  transition: opacity 0.15s ease, transform 0.15s 
}

.new_arival:hover .quick_product_btn {
  opacity: 1;
}

.product_content {
  text-align: center;
  position: relative;
  padding: 10px 0 6px;
  line-height: 1.4;
}
.product_title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product_price {
  font-size: 12.75px;
  color: #000;
  margin-top: 3px;
  font-weight: 700;
}
.visually_price_hidden {
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}
.original_price{
  text-decoration: line-through;
  margin-right: 5px;
  color: #888;
  font-weight: 400;
}

.price_savings {
  color: #b7472a;
  margin-left: 5px;
  white-space: nowrap;
  font-weight: 400;
}

/* ====================new Arival  CSS End=============== */
